# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on init
    # Start console services
    start console

# USB
on init
    setprop sys.usb.configfs 1

# force usb to device mode for recovery mode
on boot
    write /sys/bus/platform/devices/e1ac0000.xr_usb/force_role 2

service console /system/bin/sh
    class core
    console
    disabled
    user shell
    group shell log readproc
    seclabel u:r:shell:s0
    setenv HOSTNAME console
